a{
  text-decoration: none;
}
h1{
  margin-bottom: 24px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 16px;
  width: 100%;
}
.footer{
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  background-color: rgb(223, 223, 223);
  border-top: 1px solid #838383;
  color: #181818;
}
main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}